body{
   margin:0;
   font-family: Arial, Helvetica, sans-serif; 
   overflow: hidden;
}
.map{
    width:100vw;
    height: 100vh;
    position: relative;
}
.location-icon{
    font-size: 2em;
    color:red;
}
.icon{
    font-size:2.1rem;
}
.loader{
    display:flex;
    margin-top: 25em;
    justify-content:center;
}
.location-info{
    position: absolute;
    top: 80px;
    right: 50px;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    background-color:rgba(0,0,0,0.6);
    border-radius:10px;
    font-size:18px;
    color:#fff
}
.location-info ul {
    list-style-type: none;
    padding: 0;
}
.location-info li {
    padding:5px 0;
}
.header{
    padding:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: red;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.header h1{
    font-size: 20x;
    padding: 0;
    margin: 0;
    text-align: center;
}
.cross{
    display: flex;
    justify-content: flex-end;
}