body{
   margin:0;
   font-family: Arial, Helvetica, sans-serif; 
}
.map{
    width:100vw;
    height: 100vh;
    position: relative;
}
.location-icon{
    font-size: 2em;
    color:red;
}
.loader{
    display:flex;
    margin-top: 25em;
    justify-content:center;
}